@import 'default.module.css';

a {
    text-decoration: none;
}

.light, .dark {
    padding: 8px 28px;
    font-family: "Poppins";
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    transition: ease-in 0.2s;
    border: 1px solid var(--teal-dark);
    color: var(--teal-dark);
    width: fit-content;
    text-decoration: none;
}

.dark {
    background: var(--black);
    color: var(--teal-dark);
}

.dark:hover {
    background: var(--yellow-light);
}

.light:hover {
    background: var(--teal-dark);
    color: var(--white);
    border: 1px solid var(--white);
}

.icon svg {
    margin: -8px -20px 0 -20px;
    transform: translateY(6px);
}

.iconText .icon svg {
    margin-left: -2px;
    margin-right: 8px;
}


/* NAV */

.navWrapper {
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    padding: 12px 40px 4px;
    border-radius: 55px;
    background-color: rgba(217, 217, 217, 0.2);
    backdrop-filter: blur(8px); 
    border: 1px solid var(--white);
    z-index: 100;
}

.aboutNav.navWrapper {
    top: 6px;
}

.projectsNav.navWrapper {
    display: none;
}

.navImg {
    margin-left: -4px;
    margin-right: auto; 
}

.navImg img {
    opacity: 0.6;
    transition: ease-in 0.2s;
    width: 24px;
}

.navImg:hover img {
    opacity: 1;
}

.navLink {
    color: var(--grey-dark);
    transition: ease-in 0.2s;
    font-size: 14px;
}

.navLink.active {
    color: var(--black);
}

.navLink:hover {
    color: var(--black);
}

@media (max-width: 767px) {
    .navWrapper {
        width: 80%;
        top: 12px;
    }

    .projectsNav.navWrapper {
        display: flex;
        width: 70%;
    }
}

@media (max-width: 449px) {
    .navWrapper {
        justify-content: space-between;
        gap: 12px;
        padding: 10px 24px;
    }

    .navImg {
        display: none;
    }

    .navLink {
        font-size: 13px;
    }
}
